# dependencies
node_modules

# build output
dist

# logs
*.log
npm-debug.log*

# env
.env
.env.local
.env.*.local

# editors / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
node_modules/
.next/
dist/
build/
